/** RESET **/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p{
    line-height: 1.5;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/** GENERAL **/
html {
    font-size: 12px;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFF;
} 

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/** WINDOW **/
.window {
    box-shadow: 3px 3px #000;
    border: 1px solid #000;
}

.window.left {
    margin-right: 30px;
}

.header {
    display: flex;
    border-bottom: 1px solid #000;
}

.icon {
    background-color: #FFF;
    width: 35px;
    height: 30px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-line {
    background-color: #000;
    width: 100%;
    height: 3px;
}

.title {
    background-color: #000;
    color: #FFF;
    font-size: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** CANVAS **/
#canvas {
    width: 80vh;
    height: 80vh;
    background-color: #FFF;
    border: .5px solid #FFF;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: #F4F4F4;
    border: .5px solid #FFF;
    cursor: crosshair;
}

.square.mouseover {
    box-shadow: inset 0px 0px 0px 1px #000;
    border: 2px solid #FFF;
}

/** TOOLS **/
.tools {
    width: 200px;
    height: 80vh;
    background-color: #F4F4F4;
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    border: 2px solid #000;
    cursor: pointer;
}

button:active {
    color: #FFF;
    background-color: #000;
}

/** SLIDER **/
.resize {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resize input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 3px; /* Specified height */
    background: #000; /* Grey background */
    outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.resize input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 0px;
    border: 2px solid #FFF;
}
  
.resize input::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 0px;
    border: 2px solid #FFF;
}

/** COLORS **/
.colors {
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
    flex-wrap: wrap;
    background-color: #FFF;
    padding: 3px;
    gap: 1px;
}

.colors button.color {
    width: 20%;
    flex: 1;
    border: none;
    padding: 13px;
    border: 1px solid #FFF;
}

.colors button.color.selected {
    box-shadow: inset 0px 0px 0px 2px #FFF;
    border: 1px solid #000;
}